.sideMenu {
    position: fixed;
    width: 170px;
    height: 100%;
    box-sizing: border-box;
    transition: width .2s ease-in;

    --tw-bg-opacity: 1;
    background-color: rgba(157, 23, 77, var(--tw-bg-opacity));
}

.sideMenu.inactive {
    width: 0;
}

.selector.inactive {
    /* opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden; */
    width: 80px;
}